html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: none;
}

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  background: $background-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-text-color;
}

.group { @include clearfix; }

input::-moz-focus-inner {
  border: 0;
}

a:hover,
a:active,
a:focus,
a img,
object,
embed {
  outline: 0;
}

h1, h2, h3, h4, h5, h6,
b, strong {
  font-family: $headings-font-family;
  font-weight: bold;
}
