html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  background: none;
}

html, body {
  min-height: 100%;
}

body {
  background:  $background-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size:   $base-font-size;
  line-height: $base-line-height;
  font-size:   $base-font-size;
  color:       $base-text-color;
  text-rendering: optimizeLegibility;
}

.group { @include clearfix; }

input::-moz-focus-inner {
  border: 0;
}

a:hover,
a:active,
a:focus,
a img,
object,
embed {
  outline: 0;
}

h1, h2, h3, h4, h5, h6,
b, strong {
  font-family: $headings-font-family;
  font-weight: bold;
}
